@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

input {
    font-family: 'Belleza', sans-serif;
    width: 210px;
    padding: 15px;
    margin: 25px 0;
    border-radius: 10px;
    border: 1px solid #e1fcf4;
    font-size: 2em;
}

input:hover {
    border: 1px solid #e1fcf4;
    box-shadow: 1px 1px 4px 3px #e1fcf4;
}

@media (max-width: 700px) {
  
  }

.search__div {
    text-align: center;
    /* margin-left: 10%; */
}

.logo {
    display: flex;
    justify-content: center;
    margin: 5em 0 3em 0;

}
@media (max-width: 700px) {
   
  }