
.Item__section li:last-child {
  display: none;
}

.Item__flex {
  font-size: 1.6em;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin-right: 10px;
  margin-top: 20px;
  padding: 25px;
  border-radius: 15px;
  background-color: #e1fcf4;
  color: #210718;
}



.Item__img {
  width: calc(100% - 10px);
  height: 90vh;
  border-radius: 15px;
  margin-bottom: 10px;
}

.Item__leftSide {
    color: #210718;
    width: 60%;
    text-align: left;
    margin-right: 5px;
   
}

.Item__rightSide {
    color: #210718;
    width: 40%;
    text-align: right;
    margin-right: 5px;
    font-weight: bold;
}

.Item__color {
  color: #210718;
  padding: 5px;
  border-bottom: 1px solid #210718;
}

@media only screen and (max-width: 750px) {
    .Item__flex {
        display: flex;
        flex-direction: column;
             margin-right: 10px;
             margin-top: 20px;
             padding: 25px;
             border-radius: 15px;
             background-color: #e1fcf4;
             color: #210718;
           }
   .Item__leftSide {
             color: #210718;
             width: 100%;
               
         }
         
   .Item__rightSide {
             color: #210718;
             width: 100%;
             text-align: left;
             font-weight: bold;
         }
   }

.youtube {
  border: 1px solid #210718;
  background: #210718;
  padding: 6px 15px;
  border-radius: 5px;
  color: #e1fcf4;
  text-decoration: none;
  transition: 0.5s;
  /* margin-top: 5%; */
}

.youtube:hover {
  background-color: #fff;
  color: #210718;
  box-shadow: 2px 2px 2px 3px #210718;
}
