@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');


body {
  font-family: "Work Sans";
  background-color: #222;
  background-color: #210718;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Carattere";
  color: #ffedf9;
}

#root {
  margin: 0 auto;
  width: 80vw;
  max-width: 1250px;
}

@media (max-width: 1000px) {
  #root {
    width: 95vw;
  }
}
